<?xml version="1.0"?>
<model>
  <name>Plant Pot</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>flyflyk</name>
    <email>flyflyk2004@gmail.com</email>
  </author>

  <description>
    A custom plant pot model with a cylindrical base and a soil part.
  </description>
</model>